//- vim: sw=2

mixin icon(name)
  span.glyphicon(class="glyphicon-#{name}")

mixin table(attrs, ...titles)
  table.table
    thead: tr
      each title in titles
        th&attributes(attrs[title]||{})= title

    tbody
      block

mixin progress
  progressbar&attributes(attributes) {{attributes.value}}

h1.page-header MPD
.row
  .btn-group.col-sm-2
    button.btn.btn-default.btn-sm(title="Repeat", ng-click="player.$set({'repeat':!player.repeat})", ng-class="{'active':player.repeat}"): +icon("repeat")
    button.btn.btn-default.btn-sm(title="Random", ng-click="player.$set({'random':!player.random})", ng-class="{'active':player.random}"): +icon("random")
    button.btn.btn-default.btn-sm(title="Single", ng-click="player.$set({'single':!player.single})", ng-class="{'active':player.single}"): +icon("pushpin")
    button.btn.btn-default.btn-sm(title="Consume", ng-click="player.$set({'consume':!player.consume})", ng-class="{'active':player.consume}"): +icon("eject")

  .col-sm-4
    output.col-sm-3.text-right(style="display: inline-block; white-space: nowrap;", for="position") {{player.elapsed_time / 1000 | time}} / {{player.total_time / 1000 | time}}
    .col-sm-7: input#position.inline.input-sm(type="range", ng-model="player.progress" ng-change="player.$set({'elapsed_time':floor(player.progress/1000*player.total_time)})", min="0", max="1000", step="10", title="Position")
    button.btn.btn-default.btn-sm(title="Refresh", ng-click="player.$get()"): +icon("refresh")

  .col-sm-2.pull-right.btn-group
    button.btn.btn-default.btn-sm(title="Previous track", ng-click="player.$prev()"): +icon("step-backward")
    button.btn.btn-default.btn-sm(title="Play", ng-show="player.state != 'Play'", ng-click="player.$set({'state':'Play'})"): +icon("play")
    button.btn.btn-default.btn-sm(title="Pause", ng-show="player.state == 'Play'", ng-click="player.$set({'state':'Pause'})"): +icon("pause")
    button.btn.btn-default.btn-sm(title="Stop", ng-click="player.$set({'state':'Stop'})"): +icon("stop")
    button.btn.btn-default.btn-sm(title="Next track", ng-click="player.$next()"): +icon("step-forward")

  .col-sm-2.pull-right
    .col-sm-1.btn(disabled): +icon("{{volume_icon(player.volume)}}")
    output.col-sm-1(style="display: inline-block", for="volume") {{player.volume}}%
    .col-sm-7: input#volume.inline.input-sm(ng-model="player.volume", ng-change="player.$set({'volume':player.volume})", type="range", max="100", min="0", step="1", title="Volume")

.row
  br
  tabset
    tab(heading="Now Playing")
      +table({"Time":{style: 'width: 5%'}, "Actions":{style: 'width: 6%'}}, "Artist", "Title", "Genre", "Time", "Actions")
        tr(ng-repeat="item in queue | filter:hasField('id')", ng-class="{'success': item.id == player.song[0]}", ng-swipe-right="item.$remove()")
          td {{item.tags.Artist}}
          td {{item.tags.Title}}
          td {{item.tags.Genre}}
          td(style="text-align: right;") {{item.duration / 1000 | time}}
          td.actions: .btn-group
            button.btn.btn-sm.btn-default(ng-click="player.$set({'state':'Play','id':item.id})"): +icon("play")
            button.btn.btn-sm.btn-default(ng-click="item.$remove()"): +icon("remove-circle")

    tab(heading="Playlists")
      +table({"Actions":{style: 'width: 6%'}}, "Name", "Actions")
        tr(ng-repeat="item in playlists")
          td {{item.path}}
          td.actions: .btn-group
            button.btn.btn-sm.btn-default: +icon("play")
            button.btn.btn-sm.btn-default: +icon("remove-circle")

    tab(heading="Library")
      table.table
        thead
          tr
            th Artist
              br
              input(placeholder="Artist", ng-model="filter.artist")
            th Title
              br
              input(placeholder="Title", ng-model="filter.title")
            th Genre
              br
              input(placeholder="Genre", ng-model="filter.genre")
            th(style="width: 1%") Time
            th(style="width: 1%") Actions
        tbody
          tr(ng-repeat="item in library | filter:filter")
            td {{item.artist}}
            td {{item.title}}
            td {{item.genre}}
            td {{item.time | time}}
            td.actions
              button.btn.btn-default.btn-sm: +icon("play")

    tab(heading="Outputs")
      +table({"": {style: 'width: 1%'}}, "", "Name")
        tr(ng-repeat="item in outputs", ng-class="{'success': item.enabled}")
          td: button.btn.btn-default.btn-sm(ng-click="item.enabled = !item.enabled", ng-class="{'active': item.enabled}"): +icon("volume-up")
          td {{item.name}}
