//- vim: sw=2

mixin icon(name)
  span.glyphicon(class="glyphicon-#{name}")

mixin table(attrs, ...titles)
  table.table
    thead: tr
      each title in titles
        th&attributes(attrs[title]||{})= title

    tbody
      block

mixin progress
  progressbar&attributes(attributes) {{attributes.value}}

h1.page-header MPD
.row
  .btn-group.col-sm-2
    button.btn.btn-default.btn-sm(title="Repeat", ng-click="status.repeat = !status.repeat", ng-class="{'active':status.repeat}"): +icon("repeat")
    button.btn.btn-default.btn-sm(title="Random", ng-click="status.random = !status.random", ng-class="{'active':status.random}"): +icon("random")
    button.btn.btn-default.btn-sm(title="Single", ng-click="status.single = !status.single", ng-class="{'active':status.single}"): +icon("pushpin")
    button.btn.btn-default.btn-sm(title="Consume", ng-click="status.consume = !status.consume", ng-class="{'active':status.consume}"): +icon("eject")

  .col-sm-4
    output.col-sm-3.text-right(style="display: inline-block", for="position") {{status.elapsed_time / 1000 | time}} / {{status.total_time / 1000 | time}}
    .col-sm-7: input#position.inline.input-sm(ng-model="status.position", type="range", max="100", min="0", step="1", title="Position")
    button.btn.btn-default.btn-sm(title="Refresh"): +icon("refresh")

  .col-sm-2.pull-right.btn-group
    button.btn.btn-default.btn-sm(title="Previous track", ng-click="mpd.prev()"): +icon("step-backward")
    button.btn.btn-default.btn-sm(title="Play", ng-click="mpd.play()"): +icon("play")
    button.btn.btn-default.btn-sm(title="Stop", ng-click="mpd.stop()"): +icon("stop")
    button.btn.btn-default.btn-sm(title="Next track", ng-click="mpd.next()"): +icon("step-forward")

  .col-sm-2.pull-right
    button.btn.btn-default.btn-sm(title="Mute", ng-class="{'active': status.muted}" ng-click="status.muted = !status.muted"): +icon("volume-off")
    output.col-sm-1(style="display: inline-block", for="volume") {{status.volume}}%
    .col-sm-7: input#volume.inline.input-sm(ng-model="status.volume", type="range", max="100", min="0", step="1", title="Volume")

.row
  br
  tabset
    tab(heading="Now Playing")
      +table({"Time":{style: 'width: 5%'}, "Actions":{style: 'width: 1%'}}, "Artist", "Title", "Genre", "Time", "Actions")
        tr(ng-repeat="item in queue", ng-class="{'active': $index == status.song}")
          td {{item.tags.Artist}}
          td {{item.tags.Title}}
          td {{item.tags.Genre}}
          td(style="text-align: right;") {{item.duration / 1000 | time}}
          td.actions: .btn-group
            button.btn.btn-xs.btn-default: +icon("play")
            button.btn.btn-xs.btn-default: +icon("remove-circle")

    tab(heading="Playlists")
      +table({"Actions":{style: 'width: 1%'}}, "Name", "Actions")
        tr(ng-repeat="item in playlists")
          td {{item.name}}
          td.actions: .btn-group
            button.btn.btn-xs.btn-default: +icon("play")
            button.btn.btn-xs.btn-default: +icon("remove-circle")

    tab(heading="Library")
      table.table
        thead
          tr
            th Artist
              br
              input(placeholder="Artist", ng-model="filter.artist")
            th Title
              br
              input(placeholder="Title", ng-model="filter.title")
            th Genre
              br
              input(placeholder="Genre", ng-model="filter.genre")
            th(style="width: 1%") Time
            th(style="width: 1%") Actions
        tbody
          tr(ng-repeat="item in library | filter:filter")
            td {{item.artist}}
            td {{item.title}}
            td {{item.genre}}
            td {{item.time | time}}
            td.actions
              button.btn.btn-default.btn-xs: +icon("play")

    tab(heading="Outputs")
      +table({"": {style: 'width: 1%'}}, "", "Name")
        tr(ng-repeat="item in outputs")
          td: button.btn.btn-default.btn-xs(ng-click="item.active = !item.active", ng-class="{'active': item.active}"): +icon("volume-up")
          td {{item.name}}
