//- vim: sw=2

mixin icon(name)
  span.glyphicon(class="glyphicon-#{name}")

mixin table(attrs, ...titles)
  table.table
    thead: tr
      each title in titles
        th&attributes(attrs[title]||{})= title
          +icon("arrow-up")
          +icon("arrow-down")

    tbody
      block

mixin progress
  progressbar&attributes(attributes) {{attributes.value}}

script(id="confirm-song-remove.html", type="text/ng-template")
  .modal-header: h3.modal-title Remove “{{song.tags.Title}}” from the queue?
  .modal-body Are you sure you want to remove the “<b>{{song.tags.Title}}</b>” song by <b>{{song.tags.Artist}}</b> from the play queue?
  .modal-footer
    button.btn.btn-primary(ng-click="yes()") Yes
    button.btn.btn-default(ng-click="no()") No

h1.page-header MPD
.row
  .btn-group.col-sm-2
    button.btn.btn-default.btn-sm(title="Repeat", ng-click="player.$set({'repeat':!player.repeat})", ng-class="{'active':player.repeat}"): +icon("repeat")
    button.btn.btn-default.btn-sm(title="Random", ng-click="player.$set({'random':!player.random})", ng-class="{'active':player.random}"): +icon("random")
    button.btn.btn-default.btn-sm(title="Single", ng-click="player.$set({'single':!player.single})", ng-class="{'active':player.single}"): +icon("pushpin")
    button.btn.btn-default.btn-sm(title="Consume", ng-click="player.$set({'consume':!player.consume})", ng-class="{'active':player.consume}"): +icon("eject")

  .col-sm-4
    output.col-sm-2.text-right.text-nowrap(style="display: inline-block", for="position") {{player.elapsed_time / 1000 | time}} / {{player.total_time / 1000 | time}}
    .col-sm-7: input#position.inline.input-sm(type="range", ng-model="player.progress", ng-model-options="{debounce:500}", ng-change="player.$set({'elapsed_time':floor(player.progress/1000*player.total_time)})", min="0", max="1000", step="10", title="Position")
    button.btn.btn-default.btn-sm(title="Refresh", ng-click="player.$get()"): +icon("refresh")

  .col-sm-2.pull-right.btn-group
    button.btn.btn-default.btn-sm(title="Previous track", ng-click="player.$prev()"): +icon("step-backward")
    button.btn.btn-default.btn-sm(title="Play", ng-show="player.state != 'Play'", ng-click="player.$set({state:'Play'})"): +icon("play")
    button.btn.btn-default.btn-sm(title="Pause", ng-show="player.state == 'Play'", ng-click="player.$set({state:'Pause'})"): +icon("pause")
    button.btn.btn-default.btn-sm(title="Stop", ng-click="player.$set({state:'Stop'})"): +icon("stop")
    button.btn.btn-default.btn-sm(title="Next track", ng-click="player.$next()"): +icon("step-forward")

  .col-sm-2.pull-right
    output.col-sm-4.text-nowrap(style="display: inline-block", for="volume")
      .col-sm-1: +icon("{{volume_icon(player.volume)}}")
      {{player.volume}}%
    .col-sm-7: input#volume.inline.input-sm(ng-model="player.volume", ng-change="player.$set({'volume':player.volume})", type="range", max="100", min="0", step="1", title="Volume")

.row
  br
  tabset
    tab(heading="Now Playing")
      +table({
        "Time":{style: "width: 5%", "style": "cursor: pointer", "ng-click": "asc = sort=='duration'? !asc: sort = 'duration'", "ng-class": "{'sorted':sort=='duration', 'sorted-rev':!asc}"},
        "Genre":{"ng-click": "asc = sort=='tags.Genre'? !asc: sort = 'tags.Genre'", "ng-class": "{'sorted':sort=='tags.Genre', 'sorted-rev':!asc}", "style": "cursor: pointer"},
        "Title":{"ng-click": "asc = sort=='tags.Title'? !asc: sort = 'tags.Title'", "ng-class": "{'sorted':sort=='tags.Title', 'sorted-rev':!asc}", "style": "cursor: pointer"},
        "Artist":{"ng-click": "asc = sort=='tags.Artist'? !asc: sort = 'tags.Artist'", "ng-class": "{'sorted':sort=='tags.Artist', 'sorted-rev':!asc}", "style": "cursor: pointer"},
        "Actions":{style: "width: 6%"}
        }, "Artist", "Title", "Genre", "Time", "Actions")
        tr(ng-repeat="item in queue | filter:hasField('id') | orderBy:sort:!asc", ng-class="{'success': item.id == player.song[0]}", ng-swipe-right="remove(item)", ng-click="player.$set({state:'Play',id:item.id})", style="cursor: pointer")
          td {{item.tags.Artist}}
          td {{item.tags.Title}}
          td {{item.tags.Genre}}
          td(style="text-align: right;") {{item.duration / 1000 | time}}
          td.actions: .btn-group
            button.btn.btn-sm.btn-default(ng-click="player.$set({state:'Play',id:item.id})"): +icon("play")
            button.btn.btn-sm.btn-default(ng-click="remove(item)"): +icon("remove-circle")

    tab(heading="Playlists")
      +table({"Actions":{style: 'width: 6%'}}, "Name", "Actions")
        tr(ng-repeat="item in playlists")
          td {{item.path}}
          td.actions: .btn-group
            button.btn.btn-sm.btn-default(ng-click="load(item.path)"): +icon("play")
            button.btn.btn-sm.btn-default: +icon("remove-circle")

    tab(heading="Library")
      table.table
        thead
          tr
            th Artist
              br
              input(placeholder="Artist", ng-model="filter.artist")
            th Title
              br
              input(placeholder="Title", ng-model="filter.title")
            th Genre
              br
              input(placeholder="Genre", ng-model="filter.genre")
            th(style="width: 1%") Time
            th(style="width: 1%") Actions
        tbody
          tr(ng-repeat="item in library | filter:filter")
            td {{item.artist}}
            td {{item.title}}
            td {{item.genre}}
            td {{item.time | time}}
            td.actions
              button.btn.btn-default.btn-sm: +icon("play")

    tab(heading="Outputs")
      +table({"": {style: 'width: 1%'}}, "", "Name")
        tr(ng-repeat="item in outputs", ng-class="{'success': item.enabled}")
          td: button.btn.btn-default.btn-sm(ng-click="item.$set({'enabled':!item.enabled})", ng-class="{'active': item.enabled}"): +icon("volume-up")
          td {{item.name}}
